/***** Padrao *****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
}
/***** fim Padrao *****/


/********** Cabeçalho ***********/
.cabecalho{
    height: 60px;
    background: #ccc;
}

.logo{
    margin-left: 50px;
}

.menu {
    float: right;
    border: 2px solid black;
}

.menu2 {
    margin-left: 1000px;

}
/********** fim Cabeçalho ***********/



/********** corpo ***********/
.conteudo{
    height: auto;
    background: #eee;
}

.conteudo02{
    height: 520px;
    background: #eee;
}

/********** fim corpo ***********/



/********** rodape ***********/
.rodape{
    height: 60px;
    background: #ccc;
    margin-bottom: 0;
}

.rodape_1{
    padding: 16px;
    text-align: center;
}
/********** fim rodape ***********/